@font-face {
  font-family: "Determination";
  src: url("assets/determination.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Determination", sans-serif;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100vw;
  -webkit-app-region: no-drag;
}

.container img {
  position: relative;
}

.container .time-container {
  position: absolute;
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
}

.container .time-container .time {
  width: 150px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 35px;
}

.time-container .question {
  margin-top: 16px;
  width: 180px;
  text-align: center;
  overflow-wrap: break-word;
  font-size: 12px;
}

.actions button {
  cursor: pointer;
  width: 50px;
  height: 10px;
  border: none;
  -webkit-app-region: no-drag;
}

.actions {
  -webkit-app-region: no-drag;
}

.start-btn {
  background-color: green;
  margin-right: 5px;
}

.stop-btn {
  background-color: red;
}
